<div class="col-lg-3 col-md-4 col-sm-5">
    <div class="well">
        <form class="form-horizontal">
            <fieldset>
                <legend>Attributes</legend>
            </fieldset>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Strength</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.Strength" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Dexterity</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.Dexterity" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Toughness</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.Toughness" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Charisma</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.Charisma" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Perception</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.Perception" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Willpower</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.Willpower" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-5">
    <div class="well actor-stats-buffer">
        <form class="form-horizontal">
            <fieldset>
                <legend>Defenses & Armors</legend>
            </fieldset>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Physical Defense</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.PhysicalDefense" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Social Defense</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.SocialDefense" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Spell Defense</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.SpellDefense" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Physical Armor</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.PhysicalArmor" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-8 col-md-8 col-sm-8 col-xs-8">Mystic Armor</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control" type="text" numbers-only="numbers-only" ng-model="actor.MysticArmor" />
                </div>
            </div>
            <br />
        </form>
    </div>
</div>
<div class="clearfix"></div>